<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :item1 %><br>
    <%= f.text_field :item1 %>
  </div>
  <div class="field">
    <%= f.label :item2 %><br>
    <%= f.text_field :item2 %>
  </div>
  <div class="field">
    <%= f.label :item3 %><br>
    <%= f.text_field :item3 %>
  </div>
  <div class="field">
    <%= f.label :item4 %><br>
    <%= f.text_field :item4 %>
  </div>
  <div class="field">
    <%= f.label :topping1 %><br>
    <%= f.text_field :topping1 %>
  </div>
  <div class="field">
    <%= f.label :topping2 %><br>
    <%= f.text_field :topping2 %>
  </div>
  <div class="field">
    <%= f.label :payment_type %><br>
    <%= f.text_field :payment_type %>
  </div>
  <div class="field">
    <%= f.label :room_number %><br>
    <%= f.text_field :room_number %>
  </div>
  <div class="field">
    <%= f.label :total %><br>
    <%= f.text_field :total %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
