<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Item1</th>
      <th>Item2</th>
      <th>Item3</th>
      <th>Item4</th>
      <th>Topping1</th>
      <th>Topping2</th>
      <th>Payment type</th>
      <th>Room number</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.location %></td>
        <td><%= customer.item1 %></td>
        <td><%= customer.item2 %></td>
        <td><%= customer.item3 %></td>
        <td><%= customer.item4 %></td>
        <td><%= customer.topping1 %></td>
        <td><%= customer.topping2 %></td>
        <td><%= customer.payment_type %></td>
        <td><%= customer.room_number %></td>
        <td><%= customer.total %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
